name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install system dependencies (Linux)
      run: |
        sudo apt-get update
        sudo apt-get install -y pkg-config libasound2-dev
        sudo apt-get install -y pulseaudio pulseaudio-utils
    - name: setup audio
      run: |
         export XDG_RUNTIME_DIR=/tmp/xdg-runtime
         mkdir -p "$XDG_RUNTIME_DIR"
         chmod 700 "$XDG_RUNTIME_DIR"
         echo "XDG_RUNTIME_DIR=$XDG_RUNTIME_DIR" >> $GITHUB_ENV

         pulseaudio -D --exit-idle-time=-1 --disallow-exit --log-target=stderr

         for i in $(seq 1 50); do
           pactl info >/dev/null 2>&1 && break
           sleep 0.1
           done
         pactl info

         pactl load-module module-null-sink sink_name=DummyOutput
         pactl set-default-sink DummyOutput
         pactl list short sinks
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
